@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Signika+Negative:wght@300..700&display=swap');

header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: signika negative;
    font-size: 3rem;
}

body {
    font-family: Comfortaa, Helvetica, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 30px;
    color: #292b2c;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: inline-block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th {
    background-color: #292b2c;
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}


tr:nth-child(even) {
    background-color: #f9f9f9;
}

input {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

button {
    color: white;
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#addRowBtn {
    background-color: #5bc0de;
    margin-top: 1rem;
}

#addRowBtn:hover {
    background-color: #31b0d5;
}

#deleteBtn {
    background-color: #d9534f;
}

#deleteBtn:hover {
    background-color: #c9302c;
}

#display {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

footer {
    position: absolute;
    color: #292b2c;
    font-size: 1rem;
}

a{
    color: #292b2c;
    font-style: normal;
}

a:visited{
    color: #292b2c;
}